.dash-info h5, p {
  text-align: left;
}
.dash-info p {
  height: auto !important;
}

.dash-info .env {
  display: flex;
}

.info-msg {
  color: #ddf21a
}

.loading-load {
  height: 50px;
}

.safeBlock {
  height: 430px;
}
.mx-auto {
  margin-right: auto !important;
}